<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido a Nuestra App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Banner Principal -->
  <ion-img src="assets/icono.avif" alt="Banner" class="banner"></ion-img>

  <!-- Tarjetas de Contenido -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Proyecto con Firebase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Este proyecto utiliza Firebase para implementar funcionalidades como autenticación, base de datos en tiempo real, y almacenamiento en la nube.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Integrantes del Proyecto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Este trabajo está siendo realizado por:<br>
      Jilson Leandro Macias<br>
      Marcon Antonio Vega
    </ion-card-content>
  </ion-card>

  <!-- Botón Principal -->
  <ion-button href="https://firebase.google.com/docs" expand="block" color="tertiary" class="custom-button">
    <ion-text >
      <p class="info-text">¿Quieres saber más?</p>
    </ion-text>
  </ion-button>

  <!-- Enlace Informativo -->
  
</ion-content>
